body {
  background-color: #d4ffd6;
}

main {
  text-align: center;
}

.map-contents {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.map {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #035202;
  border-radius: 5px;
}

.map p {
  text-align: center;
  margin: 0; /* 余白を除去 */
}

.map.selected {
  background-color: #4CAF50;
  color: white;
}

#ep {
  margin-right: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
  background-color: #07c900;
  color: white;
  border: none;
  border-radius: 5px;
}

#score,
#hour {
  margin-top: 20px;
  font-weight: bold;
}
